<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кошик</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
{% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main' %}">Delivery company</a>
        </div>
    </nav>
</div>
<div class="container">
<h1>Ваш Кошик</h1>
<ul>
  {% for item in basket_items %}
      <li ><h6>{{ item.goods.name }}</h6> - Кількість: {{ item.quantity }} * {{ item.goods.price }}</li>
  {% empty %}
    <li>Ваш кошик пустий</li>
  {% endfor %}
{% if basket_items %}
<h2>{{ total_amount }}</h2>
{% endif %}
</ul>
                <a href="{% url 'basket' %}" class="btn btn-success">Сплатити</a><a href="{% url 'clear_basket' %}" class="btn btn-danger">Очистити кошик</a><br><br>
                <a href="{% url 'main' %}" class="btn btn-primary">Повернутися на головну</a>
</div>
</body>
</html>